@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

/* Cores oficiais
- Preto: #091929
- Azul: #27496B
- Cinza: #d4dce5
- Branco: #FFFFFF
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin-bottom: 20px;
    font-size: 30px;
    margin-right: 70px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a :hover {
    color: #afafaf;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome{
    color: #ffff;
    margin: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 1.3rem;
}

.logo{
    width: 3rem;
    margin: 0;
}

header {
    display: flex;
    height: 12vh;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.text-cabecalho {
    font-size: 18px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 21px;
    background-color: rgba(239, 239, 239, 0.772);
}

.introducao {
    height: 92vh;
}

.text-introducao {
    width: 50%;
    text-align: end;
    color: white;
    font-size: 35px;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.06);
}

.text-conteudo1 {
    margin-right: 70px;
    text-align: justify;
}

.text-conteudo2 {
    color: white;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.06);
    width: 50%;
}

#article-robo .conteudoSection2 {
    width: 80%;
    margin: 30px;
}
#article-robo .conteudoSection2 h3{
    
    margin: 30px 0;
}
.img-robo {
    width: 35vw;
    height: 75vh;
    border-radius: 50%;
    margin: 55px;
}

.botoes {
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: #27496B;
    margin-right: 15px;
}

.conteiner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner.banner2 {
    display: flex;
    flex-direction: column;
}

.conteiner.banner2 .galeria {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.conteiner.banner2 h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    margin: 20px 0 20px 0;
}

.conteiner.banner2 .galeria img {
    width: 30%;
    height: 250px;
    opacity: 0.7;
    border-radius: 10px;
    transition: opacity 300ms;

}
.conteiner.banner2 .galeria img:hover{
    opacity: 1;
}


#article-especificacoes .text-conteudo1, #article-especificacoes h3{
    width: 40%;
    margin: 30px;
    padding: 20px;
}

#article-especificacoes .table-formatacao{
    width: 800px;
    height: auto;
    margin-right: 40px;
    border: 1px solid;
    text-align: center;
}

#article-especificacoes .text-especificacoes{
    width: 75%;
    height: auto;
    margin-left: 50px;
    text-align: justify;
}

.banner-formatacao1 {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    /* Alinhar elementos ao inicio do conteiner; */
    align-items: center;
}

.banner-formatacao2 {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
}

.banner-formatacao3 {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner1 {
    background-image: url(../imgs/Banner1.png);
}

.banner2 {
    background-image: url(../imgs/Banner2.png);
}

.banner3 {
    background-image: url(../imgs/Banner3.png);
}

/* #article-mercado{
    display: flex;
    align-items: center;
} */


#article-mercado .text-conteudo1, #article-mercado h3{
    text-align: justify;
    width: 40vw;
    color: #fff;
    margin: 50px 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    background-color: black;
    color: white;
    font-size: 14px;
}

footer .infoFooter{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    
}

footer .infoFooter ul{
    list-style: none;
}

footer .infoFooter ul li{
    margin-top: 15px;
}

footer .social{
    font-size: 20px;
    width: 30%;
    margin-right: 0;  
}

footer .social ul{
    list-style: none;
    display: flex;
}

.link-footer{
    color: white;
    font-weight: 100;
    text-decoration: none;
}

.redes-sociais{
    width: 40%;
    height: auto;
}